@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: bold;
	src: url('../font/eot/iransansdnbold.eot');
	src: url('../font/eot/iransansdnbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../font/woff2/iransansdnbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../font/woff/iransansdnbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../font/ttf/iransansdnbold.ttf') format('truetype');
}

@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: 300;
	src: url('../font/eot/iransansdnlight.eot');
	src: url('../font/eot/iransansdnlight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../font/woff2/iransansdnlight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../font/woff/iransansdnlight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../font/ttf/iransansdnlight.ttf') format('truetype');
}

@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: normal;
	src: url('../font/eot/iransansdn.eot');
	src: url('../font/eot/iransansdn.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../font/woff2/iransansdn.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../font/woff/iransansdn.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../font/ttf/iransansdn.ttf') format('truetype');
}
*{
    font-family: iransansdn;
    text-align: right;
    direction: rtl;
    font-size: 17px;
}
.bg-blue{
    background-color: rgb(74,109,165);
    box-shadow: 0px 3px 4px #aaaaaa, 0px 4px 8px #ededed;
}

.bg-red{
    background-color: rgb(210, 0, 1);
    box-shadow: 0px 3px 4px #aaaaaa, 0px 4px 8px #ededed;
}

.nav-link{
    color: #dedede!important;
}
.nav-link:hover{
    color: #fefefe!important;
}
.active > .nav-link{
    color: #ffffff!important;
}
.bg-article{
    background-color: #dedede;
}
.date-time{
    color: #999;
    font-size: .8rem;
}


/*panel*/
.sidebar{
    min-height: Calc(100vh - 3.5rem);
    background-color: #ededed;
    box-shadow: 3px 5px 4px #cccccc, 5px 7px 8px #ededed;
    padding-top: 1rem;
}

.sidebar-link{

}
.sidebar-link > a{
    text-decoration: none;
    display: block;
    color: #666666;
    border-left: 3px solid rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    padding: .3rem .5rem;
    font-size: 1.2rem;
    transition: all .4s;
}

.sidebar-link > a:hover{
    border-left: 3px solid rgba( 210, 0, 1, 1);
    background-color: rgba(0,0,0,.2);
    transition: all .4s;
}